#!/usr/bin/make -f

PYVERS=$(shell pyversions -vr)

build: build-stamp

build-stamp: $(PYVERS:%=build-python%)
	touch $@

build-python%:
	dh_testdir
	python$* setup.py build

install: build install-stamp

install-stamp: $(PYVERS:%=install-python%)
	touch $@

install-python%:
	dh_testdir
	dh_testroot
	python$* setup.py install --root $(CURDIR)/debian/mimms

clean:
	dh_testdir
	dh_testroot
	python setup.py clean
	rm -rf build build-stamp install-stamp
	dh_clean 

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_pycentral
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build install clean binary-indep binary-arch binary
